<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class ="container">
        <h1 class="text-center">Welcome to Eternal Venus</h1>
        <p class="text-center">A gallery displaying beautiful stock photos</p>
        <p class="text-center">
            <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Photo</a>
        </p>
        </div>
    </header>
    
    <!--<div class="row" style="flex-wrap: wrap">-->
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-4  col-lg-4 col-sm-6 container2">

                    <a href="/campgrounds/<%= campground._id %>">
                        <div class="imgthumbnail">
                            <img src="<%= campground.image %>">
                        </div>    
    
                        <div class="overlay">
                            <div class="text"><%= campground.name %></div>
                        </div>
                    </a>                    


            </div>
        <% }); %>
    </div>

     <% include ../partials/footer %>
</div>


    


